<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Project</title>
</head>
<body>
<h1>First Project</h1>
<form action="folder_path_getter" method="post">
<!--    <label for="url">Enter Location</label>-->
<!--    <input type="url" name="url" value="" required>-->
    <label for="path">Enter Location</label>
    <input type="text" name="path" value="" required>
    <input type="submit" value="Train Model">
</form>
<br>
<form action="predictor" method="post">
<!--    <label for="url">Enter Location</label>-->
<!--    <input type="url" name="url" value="" required>-->
    <label for="path1">Enter Location</label>
    <input type="text" name="path1" value="" required>
    <input type="submit" value="Predict Model">
</form>

</body>
</html>